# Copy this file to .env and update the values where needed.

WEWE_RSS_DATABASE_URL=file:/app/data/wewe-rss.db
WEWE_RSS_DATABASE_TYPE=sqlite
WEWE_RSS_AUTH_CODE=change-me-wewe-rss-auth-code
WEWE_RSS_FEED_MODE=fulltext
WEWE_RSS_CRON_EXPRESSION="39 4,16 * * *"
WEWE_RSS_MAX_REQUEST_PER_MINUTE=60
WEWE_RSS_HOST_PORT=4000
WEWE_RSS_SERVER_ORIGIN_URL_LOCAL=http://localhost:4000
WEWE_RSS_SERVER_ORIGIN_URL_PROD=https://rss.mikufancx.cyou
HTTP_GLOBAL_NETWORK=http-global-network
RSS_GLOBAL_NETWORK=rss-global-network
