# Copy this file to .env and update the values where needed.

TTRSS_ALLOW_PORTS=1200,3000,4000,80,443
TTRSS_PUID=1000
TTRSS_PGID=1000
TTRSS_DB_NAME=ttrss
TTRSS_DB_USER=postgres
TTRSS_DB_PASS=change-me-ttrss-db-password
TTRSS_DB_HOST=database.postgres
TTRSS_DB_PORT=5432
TTRSS_SESSION_COOKIE_LIFETIME=168
TTRSS_FEED_LOG_QUIET=false
TTRSS_OPENCC_NODE_ENV=production
TTRSS_HOST_PORT=3901
TTRSS_SELF_URL_PATH_LOCAL=http://localhost:3901
TTRSS_SELF_URL_PATH_PROD=https://rss.mikufancx.cyou
HTTP_GLOBAL_NETWORK=http-global-network
RSS_GLOBAL_NETWORK=rss-global-network
