{
  "inbounds": [
    {
      "type": "trojan",
      "tag": "trojan-in",
      "listen": "::",
      "listen_port": 1081,
      "udp_timeout": 240,
      "users": [
        {
          "name": "main",
          "password": "change-me-main-password"
        },
        {
          "name": "guest",
          "password": "change-me-guest-password"
        }
      ],
      "tls": {
        "enabled": false
      },
      "fallback": {
        "server": "127.0.0.1",
        "server_port": 3904
      },
      "multiplex": {
        "enabled": true,
        "padding": true
      },
      "transport": {
        "type": "httpupgrade",
        "path": "/change-me-websocket-path"
      }
    }
  ]
}
